<!-- Validation failure messages -->
<% if @recipe.errors.any? %>
<% @recipe.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<br>

<div class="row">
  <div class= "col-md-10 col-md-offset-1">
    <% if @new = true %>
    <div class="jumbotron" style="background: url(<%= @recipe.course.image %>) no-repeat center center; text-align: center; background-size: cover; margin-bottom: 5px;">
      <h1><span style="color: white;"> Create a New <%= @recipe.course.name.singularize %></span></h1>
    </div>
    <% else %>
    <div class="jumbotron" style="background: url(<%= @recipe.course.image %>) no-repeat center center; text-align: center; background-size: cover; margin-bottom: 5px;">
      <h1><span style="color: white;"> Update <%= @recipe.course.name.singularize %></span></h1>
    </div>
    <% end  %>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-10 col-md-offset-1" style="text-align: center;">
    <h1><%= @recipe.name %>    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1" style="text-align: center;">
    <h2 >
    <% if @recipe.average_rating == nil %>
    <font color="grey">
      <% for i in 1..5 %>
      <i class="fa fa-star-o" aria-hidden="true"></i>
      <% end %>
    </font>
    <% else %>
    <font color="gold">
      <% for i in 1..5 do %>
        <% if (i.to_f - 0.25) <= @recipe.average_rating %>
        <i class="fa fa-star" aria-hidden="true"></i>
        <% elsif  (i.to_f - 0.75) <= @recipe.average_rating %>
        <i class="fa fa-star-half-o" aria-hidden="true"></i>
        <% else %>
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </font>
    <% end %>
  </h2>
  </div>
</div>
