<div class="row">
  <div class= "col-md-10 col-md-offset-1">
    <div class="jumbotron" style="background: url(<%= @recipe.course.image %>) no-repeat center center; text-align: center; background-size: cover; margin-bottom: 5px;">
      <h1><span style="color: white;"><%= @recipe.course.name.singularize %></span></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2" style="text-align: center;">
    <h1>
      <%= @recipe.name %>
      <% if @recipe.average_rating == nil %>
      <font color="grey">
        <% for i in 1..5 %>
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <% end %>
      </font>
      <% else %>
      <font color="gold">
        <% for i in 1..5 do %>
        <% if (i.to_f - 0.25) <= @recipe.average_rating %>
        <i class="fa fa-star" aria-hidden="true"></i>
        <% elsif  (i.to_f - 0.75) <= @recipe.average_rating %>
        <i class="fa fa-star-half-o" aria-hidden="true"></i>
        <% else %>
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <% end %>
        <% end %>
      </font>
      <% end %>
    </h1>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <img src="<%= @recipe.image %>" alt="<%= @recipe.name %>" class="img-responsive">
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p><%= "Author\: #{@recipe.user.username}" %></p>
    <p style="text-align: justify;"><%= "\"#{@recipe.description}\"" %></p>
  </div>
</div>
<br>


<div class="row">
  <div class="col-md-3 col-md-offset-2">
    <font style="font-size: 20px; font-weight: 200">
      Servings:<%= @recipe.servings %>
    </font>
  </div>
  <div class="col-md-3">
    <font style="font-size: 20px; font-weight: 200">
      Temperature: <%= @recipe.cook_temp %>
    </font>
  </div>
  <div class="col-md-2">
    <font style="font-size: 20px; font-weight: 200">
      Time:
      <% if @recipe.cook_time_hrs != nil %>
      <% if @recipe.cook_time_minutes != nil %>
        <%= "#{@recipe.cook_time_hrs} hr #{@recipe.cook_time_minutes} min" %>
      <% else %>
        <%= "#{@recipe.cook_time_hrs} hr" %>
      <% end %>
      <% elsif @recipe.cook_time_minutes != nil %>
        <%= "#{@recipe.cook_time_minutes} min" %>
      <% end %>
    </font>
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Ingredients</h3>
    <hr>
  </div>
</div>


<% if @ingredients.count != 0 %>


<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <ul>
      <% @ingredients.each do |ingredient| %>
      <li><%= "#{ingredient.quantity} #{ingredient.measurement_unit.name.pluralize(ingredient.quantity.ceil)} of #{ingredient.ingredient.name}" %></li>
      <% end %>
    </ul>
  </div>
</div>

<% end %>


<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Directions</h3>
    <hr>
  </div>
</div>

<% if @directions.count !=0 %>
<% @directions.each do |direction| %>
<div class="row">
  <div class="col-md-1 col-md-offset-2" style="text-align: right;">
    <font style="font-weight: 300"><%= "Step #{direction.step}" %></font>
  </div>
  <div class="col-md-6">
    <%= direction.description %>
  </div>
</div>
<% end %>
<% end %>
<br>

<!-- Rating -->
<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <% if @recipe.ratings.find_by(user_id: current_user.id) == nil %>
    <font style="font-size: 20px; font-weight: 200"><%= "Rate the Recipe: " %></font>
    <% else %>
    <font style="font-size: 20px; font-weight: 200"><%= "Your Rating: " %></font>
    <% end %>
    <% if @recipe.ratings.find_by(user_id: current_user.id) == nil %>
    <% for i in 1..5 %>
    <a href="/create_rating/<%= @recipe.id %>/<%= current_user.id %>/<%= i %>">
      <i class="fa fa-star-o fa-lg" aria-hidden="true"></i>
    </a>
    <% end %>
    <% else %>
    <font color="gold">
      <% for i in 1..5 %>
      <% if i.to_f <= @recipe.ratings.find_by(user_id: current_user.id).score %>
      <a href="/update_rating/<%= @recipe.ratings.find_by(user_id: current_user.id).id %>/<%= i %>">
        <i class="fa fa-star fa-lg" aria-hidden="true"></i>
      </a>
      <% else %>
      <a href="/update_rating/<%= @recipe.ratings.find_by(user_id: current_user.id).id %>/<%= i %>">
        <i class="fa fa-star-o fa-lg" aria-hidden="true"></i>
      </a>
      <% end %>
      <% end %>
    </font>
  </div>
  <% end %>
</div>
<br>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="btn-group btn-group-justified">
      <a href="/recipes" class="btn btn-primary">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </a>
      <% if current_user.id == @recipe.user.id %>
      <a href="/recipes/<%= @recipe.id %>/edit" class="btn btn-warning">
        <i class="fa fa-edit"></i>
      </a>
      <a href="/delete_recipe/<%= @recipe.id %>" class="btn btn-danger" rel="nofollow">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </a>
      <% end %>
    </div>
  </div>
</div>
