<!-- Validation failure messages -->
<% if @ingredient.errors.any? %>
  <% @ingredient.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Ingredient</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_ingredient" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @ingredient.name %>">
      </div>

      <!-- Label and input for purchase_container -->
      <div class="form-group">
        <label for="purchase_container" class="control-label">
          Purchase container
        </label>

        <input type="text" id="purchase_container" name="purchase_container" placeholder="Purchase container" class="form-control" value="<%= @ingredient.purchase_container %>">
      </div>

      <!-- Label and input for purchase_quanitity -->
      <div class="form-group">
        <label for="purchase_quantity" class="control-label">
          Purchase quantity
        </label>

        <input type="text" id="purchase_quantity" name="purchase_quantity" placeholder="Purchase quantity" class="form-control" value="<%= @ingredient.purchase_quantity %>">
      </div>

      <!-- Label and input for category_id -->
      <div class="form-group">
        <label for="category_id" class="control-label">
          Category
        </label>

        <%= select_tag(:category_id , options_from_collection_for_select(IngredientCategory.all, :id, :name, @ingredient.category_id), :class => "form-control", include_blank: "Category") %>
      </div>

      <!-- Label and input for purchase_measurement_unit_id -->
      <div class="form-group">
        <label for="purchase_measurement_unit_id" class="control-label">
          Purchase measurement unit
        </label>
        <%= select_tag(:purchase_measurement_unit_id , options_from_collection_for_select(MeasurementUnit.all, :id, :name, @ingredient.purchase_measurement_unit_id), :class => "form-control", include_blank: "Purchase Unit") %>
      </div>

      <button class="btn btn-success">
        Create Ingredient
      </button>
      or
      <a href="/ingredients">Cancel</a>
    </form>
  </div>
</div>
