<% @courses.each_with_index do |course, index| %>
<% index = index + 1 %>
<% if (index%5) ==1 %>
<div class="row">
  <% end %>
  <% if  (index%5) == 1 %>
  <div class="col-md-offset-1 col-md-2">
    <a href="/courses/<%= course.id %>">
      <div class="course_card" style="background: url(<%= course.image %>) no-repeat center center; background-size: cover;">
        <h3><%= course.name %></h3>
      </div>
    </a>
  </div>
  <% else %>
  <div class="col-md-2">
    <a href="/courses/<%= course.id %>">
      <div class="course_card" style="background: url(<%= course.image %>) no-repeat center center; background-size: cover;">
        <h3><%= course.name %></h3>
      </div>
    </a>
  </div>
  <%end %>
  <% if index == @courses.count %>
</div>
<% elsif (index%5) == 0 %>
</div>
<% end %>
<% end %>
